<div class="page page_withfilter" nav-container>

  <div class="channel-viewport" *ngIf="isShowPreloadArea" infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="200"
  [scrollWindow]="false"
  (scrolled)="preloadChannels()"
  >
    <div *ngFor="let row of channelsForRender" class="row" nav-group>
      <app-channel-card [currentTime]="currentTime" [channel]="item" class="item" *ngFor="let item of row.row"></app-channel-card>
    </div>

  </div>

</div>

