@import '../../../../colors.scss';

.channels {
  height: 100vh;
  width: 15rem;
  background-color: lightgray;
  display: inline-block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  background: $light-gray;
  box-shadow: $shadow-dark;

  &__item {
    box-sizing: border-box;
    padding: 1rem;
    white-space: nowrap;
    color: white;
    position: relative;
    display: flex;
    outline: none;
    text-transform: uppercase;
    font-size: .8rem;

    &:focus {
      background-color: $main-hover;
      color: white !important;
    }

    &-number {
      display: block;
      width: 1.5rem;
      text-align: center;
    }

    &-logo {
      display: block;
      margin-left: 1rem;
      height: 1rem;
      margin-top: .3rem;
      width: 2rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      // filter: grayscale(100%);
    }

    &-name {
      display: block;
      margin-left: 1rem;
      overflow-x: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      width: 35%;
    }
  }

  .active {
    color: $main-hover;
    font-weight: bold;
  }
}

.channels::-webkit-scrollbar { width: 0 !important }

