<app-connection-info></app-connection-info>

<app-main-menu nav-container *ngIf="isShowMenu"></app-main-menu>

<div class="keyinfo" *ngIf="isNeedKeyCode">
  {{ code }}
</div>


<router-outlet></router-outlet>

<app-exit-modal (cancelEvent)="closeExitModal()" *ngIf="isShowExitModal"></app-exit-modal>

<div class="loader" *ngIf="isLoading">
  <app-looping-rhombuses-spinner [animationDuration]="2500" [rhombusSize]="25" [color]="'white'">
  </app-looping-rhombuses-spinner>
</div>

<app-player></app-player>
