.preview {
  height: 100vh;
  width: 26rem;
  position: relative;
  margin: auto 0;
  overflow: hidden;
  color: white;

  &__video {
    height: 12rem;

    .video-area {
      margin: 2rem auto;
      width: 18rem;
      height: 10rem;
      position: relative;

      .logo {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .lock {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 1px;
        position: relative;
        z-index: 11;

        &-img {
          width: 5rem;
          height: 5rem;
          background-image: url('../../../../assets/lock-solid.svg');
          background-position: center;
          background-repeat: no-repeat;
          margin: 10px auto;
        }
      }
    }
  }

  &__title {
    width: 18rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    box-sizing: border-box;
    font-weight: bold;
  }

  &__description {
    width: 18rem;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    flex-grow: 1;
    hyphens: auto;
    max-height: 51%;
    color: #757575;
    margin-top: 12px;
    line-height: 1.5rem;
  }
}

.preview::-webkit-scrollbar { width: 0 !important }
