<div class="page page_withfilter" nav-container>

  <div *ngIf="isHaveVideos" class="cards-viewport" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="preloadVideos()">

    <div class="row" nav-group *ngFor="let row of idsMatrix">
      <app-video-card *ngFor="let card of row.row" [countInRow]="countInRow" [type]="'tv'" [id]="card"></app-video-card>
    </div>
  </div>

  <div class="no-content" *ngIf="!isHaveVideos">
    <span class="no-content__text">{{ statusText }}</span>
  </div>

</div>
